//Dashboard
$color-black: #000;
$color-white: #fff;
$text-hover: #333;
$br-black : 1px solid rgba(0, 0, 0, 0.208) ;
$br-white : 1px solid rgba(256, 256, 256, 0.308) ;
$font-family: "Poppins", sans-serif;
